body{ background-color: AntiqueWhite;
      text-align: center; 
}

@font-face {
  font-family: Digital;
  src: url(digital-7 (italic).ttf);
}
header {font: Digital
    }
.about { margin: auto;
  width: 50% }

.img {
  margin: 5%;

}
